<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>派活儿</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dev.zx.paihuor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>paihuor</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MiniMaxAPIKey</key>
	<string>$(MINIMAX_API_KEY)</string>
	<key>MiniMaxEndpoint</key>
	<string>$(MINIMAX_ENDPOINT)</string>
	<key>MiniMaxModel</key>
	<string>$(MINIMAX_MODEL)</string>
	<key>PaihuorDefaultFamilyId</key>
	<string>$(PAIHUOR_DEFAULT_FAMILY_ID)</string>
	<key>PaihuorRelayBaseURL</key>
	<string>$(PAIHUOR_RELAY_BASE_URL)</string>
	<key>PaihuorRelayLanURL</key>
	<string>$(PAIHUOR_RELAY_LAN_URL)</string>
	<key>PaihuorRelayKey</key>
	<string>$(PAIHUOR_RELAY_KEY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>10.1.30.175</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>frp-fly.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>派活儿需要使用麦克风，把你的口头交代实时转成文字。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>派活儿需要使用语音识别，把录音内容转成任务草稿。</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
